<!DOCTYPE html>
<html lang="en">
<head>
    @*<title>How To Create</title>*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
  @*<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">   *@
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
     
 <style>
     a {
    text-decoration: none;
}
.login-page {
    width: 100%;
    height: 100vh;
    display: inline-block;
    display: flex;
    align-items: center;
}
.form-right i {
    font-size: 100px;
}
 </style>
</head>
<body>

    <div class="login-page bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                  <h3 class="mb-3">Login Now</h3>
                    <div class="bg-white shadow rounded">
                        <div class="row">
                            <div class="col-md-7 pe-0">
                                <div class="form-left h-100 py-5 px-5">
                                    <form action="" class="row g-4" id="Loginform">
                                            <div class="col-12">
                                                <label><b>Email</b><span class="text-danger">*</span></label>
                                                <div class="input-group">
                                                    <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                                    <input type="text" class="form-control" placeholder="Enter Username" id="txtUsername">
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <label><b>Password</b><span class="text-danger">*</span></label>
                                                <div class="input-group" >
                                                    <div class="input-group-text"><i class="bi bi-lock-fill"></i></div>
                                                    <input type="text" class="form-control" placeholder="Enter Password" id="txtPassword">
                                                </div>
                                            </div>

                                           @* <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="inlineFormCheck">
                                                    <label class="form-check-label" for="inlineFormCheck">Remember me</label>
                                                </div>
                                            </div>*@

                                          <div class="col-sm-6">
                                             <a href="Account/ForgetPassword" class="float-end text-primary">Forgot Password</a><span>Or</span>
                                             <a href="Account/Register" class="float-start text-primary">Sign Up</a>
                                           </div>

                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary px-4 float-end mt-4">login</button>
                                            </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5 ps-0 d-none d-md-block">
                               @* <div class="form-right h-100 bg-primary text-white text-center pt-5">*@
                                  <div class="form-right h-100" style="background-color: pink; color: white; text-align: center; padding-top: 5rem;">
                                    <i class="bi bi-bootstrap"></i>
                                    <h2 class="fs-1">Welcome Back!!!</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
   <!-- Include jQuery library -->
   <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
   <!-- Bootstrap JS -->
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
     
</body>
</html>
<script>
     $(document).ready(function () {
         debugger;
        $('#Loginform').submit(function (event) {
            event.preventDefault();

            // Get the form data
            const username = $('#txtUsername').val();
            const password = $('#txtPassword').val();

            // Prepare the data for the POST request
            const requestData = {
                Email: username,
                Password: password
            };
            console.log(requestData);
            // Make the AJAX call using jQuery
            $.ajax({
                //url: 'http://localhost:26154/api/Account/GenerateToken',
                url:'Account/GetToken',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function (data) {
                    debugger;
                    console.log(data.token);       // Access the token property
                    console.log(data.checkUser);
                    // Handle the success response
                    console.log(data);
                    // You can perform additional actions here based on the response
                },
                error: function (error) {
                    // Handle errors
                    console.error('Error:', error);
                }
            });
        });
    });
</script>