<head>

</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <label typeof="text" id="lbl"></label>
              <input class="form-control text-box" type="text" id="txt" />

          </div>

      </div>
  </div>
</body>